
.two{
height: 300px;
width: 100%;
background-color:black;
padding-top: 50px;
padding-bottom: 50px;
box-sizing: border-box;

}
.child1{
    height: 150px;
    width: 20%;
    background-color:gray;
    display:inline-block;
    margin-left: 4%;

}